$aqua: #1bcea9
$blue: #5a6981
$lightgray-color: f7f8fb
$gray-color: #b5b5b5
$white: #fff

$primary-color: $aqua
$secondary-color: $blue
$darkgray-color: grayscale($secondary-color)

//lighten
$primary-color-light: lighten($primary-color, 10%)

$secondary-color-light: lighten($secondary-color, 10%)


//darken
$primary-color-dark: darken($primary-color, 20%)

$secondary-color-dark: darken($secondary-color, 5%)






$opacity-bg: rgba($primary-color, 0.9)
$opacity-bg-input-disabled: rgba($darkgray-color, 0.6)
$opacity-white: rgba($white, 0.9)
$opacity-bg-dark: rgba($primary-color-dark, 0.6)
$opacity-bg-modal: rgba($primary-color-dark, 0.9)
$opacity-bg-input: $opacity-white

$text: $darkgray-color
$text-placeholder: rgba($text, 0.6)
$opacity-focus: rgba($white, 0.5)


.opacity-bg
	background-color: $opacity-bg

//attributes

.odd-div
	background-color: $opacity-bg-dark

	h1, h2, h3, h4, h5, h6, span, a
		color: $darkgray-color

	tr
		background-color: transparent

	.title-panel
		border-bottom: solid 1px $gray-color


.required
	color: $gray-color


.focus
	border: solid 2px $gray-color
	background-color: $darkgray-color
