@import "font/strive"

$body-font: 'Carnac-Regular'
$body-font-extrabold: 'Carnac-Extrabold'
$body-font-light: 'ProximaNova-Light'
$body-font-medium: 'Carnac-Medium'


body
	font-family: $body-font

.regular
	font-family: $body-font

.light
	font-family: $body-font-light

.medium
	font-family: $body-font-medium


.bold
	font-family: $body-font-extrabold

.extrabold
	font-family: $body-font-extrabold

.upper
	text-transform: uppercase


h1, h2, h3
	@extend .regular


h4, h5, h6
	@extend .regular