/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans Semibold Italic';
  @include fontdef($OpenSansPath, "SemiboldItalic");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
