.btn
	cursor: pointer
	font-family: $body-font
	@extend .uppercase
	@extend .border
	font-size: 1.2em
	padding: 0.75em 1.5em
	width: 100%
	margin: 1em 0
	background-color: $primary-color
	color: $white
	
	&:hover, &:focus
		background-color: $primary-color-dark
		opacity: 0.9





