input
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="date"]

		padding: 1em
		outline-width: 0
		border: none
		border-bottom: solid 1px $secondary-color
		height: 3.5em
		position: relative
		background-color: transparent
		color: $text
		z-index: 10
		margin-top: 0.3em
		border-radius: 0
		@extend .light

		&:focus
			border: none
			border-bottom: solid 2px $secondary-color 


@mixin placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content
	
input
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="date"]
		@include placeholder
			color: $secondary-color