.f1
  .f1-steps
    overflow: hidden
    margin-top: 1em
    text-align: center
    margin: 1em auto 0
    width: 5em

    .f1-step
      position: relative
      float: left
      width: 1em
      padding: 0 .5em
      text-align: center

      &.activated .f1-step-icon
        background: $primary-color
      &.active .f1-step-icon
        background: $primary-color
      p
        color: #ccc
      &.activated p, &.active p
        color: #f35b3f

      .f1-step-icon
        display: inline-block
        width: 0.5em
        height: 0.5em
        margin-top: 4px
        background: $gray-color
        border-radius: 50%
  
  fieldset
    display: none
    text-align: left

    iframe
      width: 100%
      min-height: 40vh
      border: none

    .f1-buttons
      display: inline-block
      width: 100%
    
    .sub-title
      font-size: 1.2em
      color: $gray-color
      @extend .regular

    .invites
      padding: 0
      li
        margin: 0.5em 0

        i
          float: left
        p
          float: left
          margin-top: 0.2em


  .form-footer
    text-align: right

  .input-error
    border-color: $warning-color


